// コンテンツ最大幅
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

// 名前入力
.name {
  > .head {
    min-width: 120px;
    text-align: right;
  }

  > .input {
    min-width: 360px;

    input[type="text"] {
      border: 1px solid gray;
      width: 100%;
      padding: 10px;
      background: #e0e0e0;
      color: #333;
    }
  }
}

.video {
  width: 80%;
  max-width: 80%;
  margin: 0 auto 10px;

  > video {
    width: 100%;
  }
}

// 各要素共通
a {
  color: #fff !important;
}

input {
  width: 100%;
}
