.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.input {
  min-width: 360px;

  input[type="text"] {
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    background: #e0e0e0;
    color: #333;
  }
}

.name {
  > .head {
    min-width: 114px;
    text-align: right;
  }
}

.video {
  width: 80%;
  max-width: 80%;
  margin: 0 auto 10px;

  > video {
    width: 100%;
  }
}

a {
  color: #fff !important;
}
