// コンテンツ最大幅
.wrapper {
  max-width: 1000px;
}

// 立場選択
.select-role {
  width: 200px;
}

// 名前入力
.name {
  > .head {
    text-align: left;

    @media screen and (min-width: $md) {
      min-width: 142px;
      text-align: right;
    }
  }

  > .input {
    min-width: 300px;
    @media screen and (min-width: $md) {
      min-width: 360px;
    }

    input[type="text"] {
      border: 1px solid gray;
      width: 100%;
      padding: 10px;
      background: #e0e0e0;
      color: #333;
    }
  }
}

// 各要素
a {
  color: #fff !important;
}

input {
  width: 100%;
}

video {
  width: 100%;
  max-height: 80vh;
}
